# #Линейная регрессия

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
import statsmodels.api as sm
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
%matplotlib inline

In [2]:
data_set = pd.read_csv("AmesHousing.csv")

In [3]:
data_set

data_set = data_set.replace(np.nan, 0) # inplace df.replace(np.nan, 0, inplace=True)
data_set.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,0,IR1,Lvl,...,0,0,0,0,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,0,Reg,Lvl,...,0,0,MnPrv,0,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,0,IR1,Lvl,...,0,0,0,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,0,Reg,Lvl,...,0,0,0,0,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,0,IR1,Lvl,...,0,0,MnPrv,0,0,3,2010,WD,Normal,189900

In [4]:
data_set.shape

(2930, 82)

In [5]:
summary = data_set.describe()

In [6]:
summary_std = summary.loc["std"]
summary_25percentile = summary.loc["25%"]
summary_75percentile = summary.loc["75%"]
summary_50percentile = summary.loc["50%"]

In [22]:
data_set_2 = pd.read_csv("AmesHousing_2.csv")
d1 = data_set_2[['Gr Liv Area', 'SalePrice']]
d1

      Gr Liv Area  SalePrice
0            1656     215000
1             896     105000
2            1329     172000
3            2110     244000
4            1629     189900
5            1604     195500
6            1338     213500
7            1280     191500
8            1616     236500
9            1804     189000
10           1655     175900
11           1187     185000
12           1465     180400
13           1341     171500
14           1502     212000
15           3279     538000
16           1752     164000
17           1856     394432
18            864     141000
19           2073     210000
20           1844     190000
21           1173     170000
22           1674     216000
23           1004     149000
24           1078     149900
25           1056     142000
26            882     126000
27            864     115000
28           1337     184000
29            987      96000
...           ...        ...
2900         1960     320000
2901         2028     369900
2902         1838     359900
2903         1600      81500
2904         1368     215000
2905         1216     164000
2906         1337     153500
2907         1140      84500
2908         1304     104500
2909         1475     127000
2910         2521     151400
2911          874     126500
2912         1652     146500
2913          630      73000
2914         1092      79400
2915         1360     140000
2916          630      92000
2917         1092      87550
2918         1092      79500
2919         1092      90500
2920         1092      71000
2921         1728     150900
2922         1728     188000
2923         1126     160000
2924         1224     131000
2925         1003     142500
2926          902     131000
2927          970     132000
2928         1389     170000
2929         2000     188000

[2930 rows x 2 columns]

In [21]:
d1['Gr Liv Area'].mean()

1499.6904436860068

In [ ]:
# linear regression prediction with prediction interval
from numpy.random import randn
from numpy.random import seed
from numpy import power
from numpy import sqrt
from numpy import mean
from numpy import std
from numpy import sum as arraysum
from scipy.stats import linregress
from matplotlib import pyplot
# генератор случайных чисел
seed(1)
# подготавливаем данные 
x = 20 * randn(1500) + 100
y = x + (10 * randn(1500) + 50)
# Создали полходящую зависимость для линейной регрессии 
b1, b0, r_value, p_value, std_err = linregress(x, y)
print('b0=%.3f, b1=%.3f задание 1' % (b1, b0))      # ОТВЕТ НА ЗАДАНИЕ в 1 вычислить
# делаем предсказания 
yhat = b0 + b1 * x
# определяем новый ввод, ожидаемое значение и прогноз ибо хочу потом предсказывать 
x_in = x[0]
y_out = y[0]
yhat_out = yhat[0]
# оцениваем stdev от yhat
sum_errs = arraysum((y - yhat)**2)
stdev = sqrt(1/(len(y)-2) * sum_errs)
# рассчитаем интервал для прогнозирования
interval = 1.96 * stdev
print('Интервал для прогноза: %.3f' % interval)
lower, upper = y_out - interval, y_out + interval
print('95%% вероятность того, что истинное значение находится между %.3f and %.3f' % (lower, upper))
print('истинное значение : %.3f' % yhat_out)
# выведем выборку и прогноз и интервальный участок ! 
pyplot.scatter(x, y)
pyplot.plot(x, yhat, color='red')
pyplot.errorbar(x_in, yhat_out, yerr=interval, color='black', fmt='o')
pyplot.show()